.bioma-section-wrapper {
    top: -120vh;
}

.bioma-section {
    opacity: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    .bioma-poly {
        opacity: 0;
        transition: opacity 0.5s ease-out;

        &.visible {
            opacity: 1;
        }
    }
}