.intro-section {
    opacity: 1;
    transition: opacity 0.2s ease-out;
    overflow: hidden;
    text-align: center;

    .intro-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: transform 0.2s ease-out;
        z-index: -1;
    }

    h1 {
        color: #f36715;
        font-weight: normal;
        font-size: 3rem;
        font-family: Alata, sans-serif;
    }
    
    hr {
        height: 2px;
        border: 0;
        background: red;
        width: 10%;
    }
}