.chart-container {
    position: relative;
    z-index: 100;

    path {
        fill: transparent;
    }

    select {
        color: white;
        font-weight: bold;
        font-size: 1.4rem;

        option {
            color: #333;
            font-size: 1rem;
        }
    }
}